
<div class='container' data-id= "<%= user.id  %>" data-model="user" >
	<h1><%= user.userName %> </h1>
	<h1> Successfully Login </h1>
		<div class="container">
        
			<div class="row">
				<div class="col-md-6 col-md-offset-3">

					<form class="stepform" action="/Surveyform/create" method="GET">
					<input type="hidden" value="<%= user.id %>" name="Id"/>
						<fieldset class="sf-step">
							<legend>1. Basic Details</legend>
							<p>
								<label class="control-label" for="firstname">Name</label>
								<input class="form-control" id="firstname" name="name" value="<%= user.userName %>" data-validate="1"/>
							</p>
							
 						</fieldset>
						<fieldset class="sf-step">
							<legend>2. Contact Details</legend>
 							<p>
								<label class="control-label" for="email">Email Address</label>
								<input class="form-control" id="email" name="email" value="<%= user.email %>" data-validate="email"/>
							</p>
 							
						</fieldset>

						<fieldset class="sf-step">
							<legend>3. Survey Details </legend>
							<ul type="1">
							<li>
								<strong>Do you like this subject?</strong>
								<p class="radio">
									<label><input name="Answer1" type="radio"/>Yes</label>
								</p>
								<p class="radio">
									<label><input name="Answer1" type="radio"/>No</label>
								</p>
							</li>
							<li>
								<strong>Do you like the challenges in this subject?</strong>
								<p class="radio">
									<label><input name="Answer2" type="radio"/>Yes</label>
								</p>
								<p class="radio">
									<label><input name="Answer2" type="radio"/>No</label>

								</p>
							</li>
							<li>
								<strong>Is this subject fullfill the requirement of become a fullstack developer?</strong>
								<p class="radio">
									<label><input name="Answer3" type="radio"/>Yes</label>
								</p>
								<p class="radio">
								
									<label><input name="Answer3" type="radio"/>No</label>
								</p>
							</li>
							<li>
								<strong>Is this subject helful to increase your knoweledge level?</strong>
								<p class="radio">
									<label><input name="Answer4" type="radio"/>Yes</label>
								</p>
								<p class="radio">
								
									<label><input name="Answer4" type="radio"/>No</label>
								</p>
							</li>
							<li>
								<strong>Have you satisfied with the learning help provided by tutors?</strong>
								<p class="radio">
									<label><input name="Answer4" type="radio"/>Yes</label>
								</p>
								<p class="radio">
								
									<label><input name="Answer4" type="radio"/>No</label>
								</p>
							</li>
							</ul>
					</fieldset>
						<fieldset class="sf-step">
 							<legend>4. Suggestions </legend>
								<p>
									<input class="form-control" id="namecard" name="Suggestions" type="text" />
								</p>
						
						</fieldset>
					<fieldset class="sf-step">
							<legend>Confirm</legend>
							
							<p class="text-center">
								<input type="submit" value="Submit" name='submit' class="btn btn-success">
							</p>
					</fieldset>
					<!--	<fieldset class="sf-step">
							<legend>Confirm</legend>
							<p>
								Please look at the data below and confirm.
							</p>
								<p>Name <mark data-sf-bind="firstname"></mark> | <mark data-sf-bind="lastname"></mark></p>
								<p>Email <mark data-sf-bind="email"></mark></p>
								<p>Phone <mark data-sf-bind="mobile"></mark></p>
							<p class="text-center">
								<input type="submit" value="Submit" name='submit' class="btn btn-success">
							</p>
						</fieldset>-->
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					</form>



				</div>
			</div>
		</div><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
	


</div>
		
	